/* body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #aeafe8 0%, #e68ca7 100%);
  }
.navbar{
    height: 50px;
   width: 100%;
    background: blueviolet;
    text-align: center;
   padding-left: 40px;
    font-size: 2em;
    display: flex;
    color: white;
  }
  footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px;
    position: relative;
 } */
 