@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Bangers&display=swap);
@import url(https://fonts.googleapis.com/css?family=Italianno&display=swap);

body,
html,
div.board,
div#react-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
 
}

.board {
  background-color: "brown";
  width: 100%;
  display: inline-block;
  height: 100%;
  overflow: default;
  position: fixed;
  background-color: white;
  /* background-image: linear-gradient(135deg, #aeafe8 0%, #e68ca7 100%); */
}

.note {
  height: 185px;
  width: 170px;
  background-color: lightsalmon;
  z-index: auto;

  resize: horizontal;
  overflow: auto;
  border-radius: 10px 20px 0px;
  border-style: solid;
  border-color: #10b910;

  cursor: move;

  margin: 12px 60px;
  position: relative;
  display: inline-block;

  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.note:active {
  cursor: -webkit-grabbing;
}

.note p {
  margin: 0;
  font-size: 20px;
  padding: 5px;

  font-family: Arial, Helvetica, sans-serif;
}

.note:hover > span {
  opacity: 1;
}

.note > span {
  position: absolute;
  bottom: 10px;
  right: 35px;
  background: lightseagreen;

  opacity: 0;
  transition: opacity 0.25s linear;
}

.note button {
  margin: 10px;
  right: 10px;
  background: lightblue;
}

.note > textarea {
  height: 75%;
  width: 100%;
  resize: both;
  overflow: auto;
  background: lightgray;
}

.board > button {
  position: fixed;
  margin: 10px;
  top: 90px;
  left: 10px;
  font-size: 1.5em;
}
.button1 {
  font-size: 1.5em;
  position: absolute;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
.container1 {
  height: 280px;
  width: 100%;
  position: relative;
  overflow: auto;
  white-space: nowrap;

  background: lightgoldenrodyellow;
}
.container2 {
  height: 130px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  outline: 10px solid gray;
  margin-top: 10px;
 
  
}
.container3 {
  height: 280px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: lightgoldenrodyellow;
  
}
.container4 {
  height: 280px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: lightgoldenrodyellow;
  margin-right: 50px;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color:#A0DAF8 ;
  text-align: center;
padding-left: 1%;
  display: flex;
  color: black;
}
.editornavbar {
  display:inline-flex;
  height: 50px;
  width: 500px;
  
  font-size: 1.5em;
  background-color:#A0DAF8 ;
}
.layer {
  
  display: flex;
  font-family: "Arial Narrow Bold";
  background: lightseagreen;
}
.layer1 {
    width: 100%;
  display: flex;
  
  font-family: "Arial Narrow Bold";
  background: lightskyblue;
}

.addlayer {
  background: mediumaquamarine;
  font-size: 1em;
}

.map {
  height: 100%;
  width: 100%;
  position: fixed;
  background: grey;
}
.projectnamenavbar {
  width: 100%;
  height: 40px;
  background: #D7E9F3;
  font-size: 1.5em;
  padding-left: 10px;
}

.circle{
  height: 30px;
  width: 30px;
  background-color:lightseagreen;
  border-radius: 75%;
  display: inline-block;
  margin:100px;
  
}

.linelayer{
  width: 50%; 
  text-align: center; 
  border-bottom: 2px solid #000; 
  line-height: 1.5em;
  margin: 10px 0 20px; 
}
.footer{
  height: 40px;
  width: 100%;
  background-color: #D7E9F3;
  position: fixed;
  bottom: 0;
}
.file{
  height: 100px;
  width: 300px;
 
  margin: 20px;
}
.image{
  height: 100px;
  width: 300px;
  
  margin: 20px;
}
.dropdownbutton{

  height: 40px;
  font-size: 1.7em;
  width: 5%;
 
 background-color: lightgrey;
  
}
.dropdownlist{
  background-color:white;
  
  
  width: 15%;
}
.lanenavbar{
  height: 40px;
  background-color: lightseagreen;
  
  
  
}
.textmodallane{
  height: 100px;
  width: 100px;
  border: 20px;
  border-color: black;
}
.circle1{
  height: 150px;
  width: 150px;
  background-color:lightseagreen;
  border-radius: 75%;
  display: inline-flex;
  overflow: hidden;
  white-space: normal;
  margin:100px;
  
}
.square{
  height: 100px;
  width: 200px;
outline:2px dashed #DCDCDC;
  overflow: hidden;
  white-space: normal;
  display: inline-flex;
  padding: 5px;
  margin-left: 40px;
  margin-top: 7px;
  
}
.square1{
  height: 150px;
  width: 150px;
  background-color:lightseagreen;
  overflow: hidden;
  white-space: normal;
  display: inline-flex;
  padding: 5px;
  margin: 50px;
  
  
}
.rectangle{
  height: 100px;
  width: 200px;
  background-color:lightseagreen;
  overflow: hidden;
  white-space: normal;
  padding: 5px;
  
   display: inline-flex; 
  margin-left: 40px;
  margin-top: 7px;
  position: relative;
  
}
.line{
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin:50px;
  overflow: auto;
  display: inline-flex;
}
.bubble{
  border-radius: 15px;
  background:lightseagreen;
  overflow: hidden;
  white-space: normal;
  width: 200px;
  height: 100px;  
  margin-left: 40px;
  margin-top: 7px;
  display: inline-flex;
  padding: 5px;
  
}

.phase{
  border-radius: 0px 30px 30px 0px;
  background:lightseagreen;
  resize: horizontal;
  padding: 5px;
  overflow: hidden;
  white-space: normal;
  width: 200px;
  height: 100px;  
  margin-left: 40px;
  margin-top: 7px;
  display: inline-flex;
  border-left: 55px;
  position: relative;
  
}

.textlane{
  height: 400px;
  width: 520px;
  
  
 

}
.textlanenavbar{
  height: 50px;
  width: 108%;
  background: #778899;
  margin-top: -4%;
  margin-left: -4%;
 
}
.textlaneeditortools{
  height: 250px;
  width:400px ;
  overflow: hidden;

  
}
.textlanebutton{
  height: 250px;
  width: 100px;
  
  
}
.savebuttontext{
  
  background-color: #3596C9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  font-size: 1em;

 
}
.horizontallinetext{
  height: 3px;
  width: 400px;
  background-color: #DCDCDC;
  margin-top: 4px;
}
.historylogcontainer{
  height: 90px;
  width: 400px;
  overflow: auto;
  
}

.sidebar{
  height: 130px;
  width: 250px;
  background-color: white;
  overflow-wrap: break-word;
  border-right-style: solid ;
  border-width: 0.5em;
  border-right-color: lightslategray;
  left: 0;
  
  
 
}

.react-expand-collapse__content {
  position: relative;
  overflow: hidden;
  
}

.react-expand-collapse__body {
  display: inline;
}

/* expand-collapse button */
.react-expand-collapse__button {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:black;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
}
.dropdown-content1{
  display:none;
  position:absolute;
   z-index: 10;
  min-width: 150px;
  margin-top:2px;
  background-color :white;
  margin-left:-10%; 
  
}

.dropdown-content1 a{
  display:flex;
  
  padding: 10px 6px;
}

.dropdown-content1 a:hover{
  border-bottom: 1px dotted #fff;
  border-top: 1px dotted #fff;
  background-color: lightskyblue;
  
}
.dropbtn:hover,.submenu:hover .dropdown-content1{
  display:block;
  
  
  
}
.predefinelane{
width: 100%;
height: 50px;
background-color:gray;



}
.predefinelane:hover {
  outline: 1px solid rgb(0, 0, 0);
  /* border-left: 10px solid lightskyblue; */
}
.dropdownlane{
  font-size: 2em;
}
.dropdownlane:hover{
  background: lightskyblue;
}

/* .hovercard{
  width: 250px;
  height: 150px;
  background-color: white;
  display: inline-flex;
  opacity: 0.1;
  border:5px dotted black;
  position: absolute;
  margin: 50px;
} */
.container2:hover #hoverShow1 {
  display: inline-flex;
  
  
 }
 
 .hoverWrapper #hoverShow1 {
  display:none;
  
  background-color: white;
  width: 200px;
  height: 100px;
  
  opacity: 0.1;
  border:4px dashed black;
  margin-left: 30px;
  margin-top: 7px;
 }
 .wholecontainer{
   width: 100%;
   height: 100%;
   

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
 }
 
.projectnamenavbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #DCDCDC;
  color: black;
}

.brand-title {
  font-size: 1.5rem;
  margin: .1rem;
}

.projectnamenavbar-links {
  height: 100%;
}

.projectnamenavbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.projectnamenavbar-links li {
  list-style: none;
  margin: 10px;
  margin-top: -1px;
  font-size: 1.25em;
}

.projectnamenavbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
 
}

.projectnamenavbar-links li:hover {
  background-color: #555;
}
/* .container2:hover{
  outline: none;
}
 */

 .handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
.lanetypebox{
  height: 300px;
  width: 600px;
  background-color: white;
  margin-left: 5px;
  outline: 2px solid #DCDCDC;
  -webkit-box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.27);
box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.27);
}
.lanetypeboxnavbar{
  height: 40px;
  width: 100%;
  background-color: #2F4F4F ;
  font-size: 1.5em;
  text-align:center;
  color: white;
}
.lanecolumncontainer{
  width: 166px;
  height: 410px;
 
 
}
.lanetypecard{
  width: 100px;
  height: 70px;
  
  margin: 10px;
  background-color: #DCDCDC;
}
.lanetypebubble{
  width: 100px;
  height: 70px;
 
  margin: 10px;
  /* border-radius: 20px; */
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #DCDCDC;
}
.lanetypebubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #DCDCDC;
  border-bottom: 13px solid transparent;
}

.lanetypephase{
  width: 100px;
  height: 70px;
  background-color: #DCDCDC;
  margin: 10px;
  position: relative;
}



.lanetypephase:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 100px;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-left: 12px solid #DCDCDC;
}
.lanetypetext{
  width: 100px;
  height: 70px;
  
  margin: 10px;
  outline: 3px dashed #DCDCDC;
}
.img-thumbnail{
  width:100%;
  height:100px;
  object-fit: cover;
  object-position: center;
  margin:10px;
}

@media(max-width: 480px) {
  .img-thumbnail{
    height:50px;
  }
}








 




